.footer {
    padding: 60px 0;
    background-color: var(--bg-footer-color);
}

.logo-addr {
    margin-right: 70px;
}

.logo-wrapper {
    margin-bottom: 20px;
}

.logo--footer {
    color: var(--logo-studio-light);
}

.address {
    font-style: normal;
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
}

.addr-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts-addr {
    color: var(--bg-head-color);
}

.footer-contacts {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-time-and-func);

    &:hover,
        &:focus {
            @extend %hov-foc-features;
        }
}

.button-footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}
.subscribe-functions {
    display: flex;
    align-self: flex-start;
    margin-top: 12px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-subscribe-container {
    margin-right: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe {
    align-self: flex-start;
    margin-right: 93px;
}

.header-subscribe {
    margin-bottom: 20px;
    @include font(14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}